@use '../../lib/service.scss' as s;

@use '../../component/heading/style.scss' as heading;
@use '../../component/divider/style.scss' as divider;
@use '../../component/field/style.scss' as field;
@use '../../component/button/style.scss' as button;

.main {
	display: flex;
	flex-direction: column;
	gap: s.space(5);
	padding: s.space(5);
}

.field {
	display: flex;
	flex-direction: column;
	gap: s.space(1);
	width: 100%;
}

.field__label {
	font-size: 14px;
	color: gray;
}

.field__input {
	border: 1px solid s.color('light');
	padding: s.space(2);
	border-radius: 10px;
}